In [ ]:
# Girls
girls_name = ['Evelyn', 'Jessica', 'Somto', 'Edith', 'Liza', 'Madonna', 'Waje', 'Tola', 'Aisha', 'Latifa']
girls_age = [17, 16, 17, 18, 16, 18, 17, 20, 19 ,17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girls_score = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys
boys_name = ['Chinedu', 'Liam', 'Wale', 'Gbenga', 'Abiola', 'Kola', 'Kunle', 'George', 'Thomas', 'Wesley']
boys_age = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boys_height = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boys_score = [74,87,75,68,66,78,87,54,80,60]

# Creating Table Format
data = [
    [girls_name[i], girls_age[i], girls_height[i], girls_score[i]] for i in range(len(girls_name))
] + [
    [boys_name[i], boys_age[i], boys_height[i], boys_score[i]] for i in range(len(boys_name))
]

# Print Table Header
print("{:<10} {:<5} {:<6} {:<6}".format("Name", "Age", "Height", "Score"))
print("-" * 30)

# Print Table Rows
for row in data:
    print("{:<10} {:<5} {:<6} {:<6}".format(row[0], row[1], row[2], row[3]))

In [23]:
# Qualifications
name_staff = str(input("Enter your name: "))
age_staff = int(input("Input your age: "))
years_experience = int(input("Enter your years of experience: "))

# Conditions
if years_experience > 25 & age_staff >= 55:
    art = 5600000
elif years_experience > 20 & age_staff >= 45:
    art = 4480000
elif years_experience > 10 & age_staff >= 35:
    art = 1500000
elif years_experience <= 10 & age_staff < 35:
    art = 550000
    
print("Full-Stack Developer for Izifin Technology")
print(f"Name: {name_staff} \nAge: {age_staff} years \nYears of Experience: {years_experience} years")
print("Annual Tax Revenue (ART): ",art)

Full-Stack Developer for Izifin Technology
Name: ubfias
Age: 60 years
Years of Experience: 55 years
Annual Tax Revenue (ART):  (550, 0.0)